{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<body>

<style>
 .type-black{color:black;}
 .bg-blue{background-color:#00aaff;}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="jumbotron text-center jumbotron bg-blue">
	<h1>Guntur It Technologies<h1>
		<p>Brain without Knowledge is dumb,Lets Come to Fullfill Your Brain With Knowledge,Make a Way for Your Path.</p>
</div>
<div class="col-sm-4 text-center panel panel-body panel-info">
<style>
 .type-black{color:black;}
 .bg-blue{background-color:#00aaff;}
</style>
<div class="jumbotron text-center jumbotron bg-blue">	
	<h3>Lets know:_</h3>
</div>	

	<p>Best professional faculties makes good it training organization. our fine infrastructure and latest method of study gives better understanding of concept to all students which is very much requires for any government recognized IT training institute</p>
	<p>Providing best computer training and IT training to all the students ad makes the eligible to get a good job in like always growing market of computers. Students who don't know what to do,our mission is to provide them a proper target and provide them a platform of achive that targe, is our vision.</p>
</div>
<style>
 .type-black{color:black;}
 .bg-blue{background-color:#00aaff;}
</style>
<div class="jumbotron text-center jumbotron bg-blue">


<div class="container text-black">
	<div class="row" center>
		<div class="col-sm-6">
		<h3>Facilities</h3>
			
		<p>24*7wifi</p>
		<p>Good environment</p>
		<p>Air-condiditioner with computersystems</p>
		<p>library</p>
		<p>master-trainers</p>
		<p>Screening Test</p>
		<p>online examinations</p>
		<p>class room training</p>
		<p>weekend training</p>
		<p>cafeteria</p>
</div>
<div class="col-sm-6 text-center panel panel-body panel-info">
<h3 class="text-info">Placements</h3>
<p>wipro</p>
<p>TCS</p>
<p>Infosys</p>
<p>HCL technologies</p>
<p>Byju's</p>
<p>oracle</p>
<p>flipkart</p>
<p>microsoft</p>
<p>Quest Global</p>
<p>Onward Technologies</p>
<p>3i infotech</p>
<p>Hexaware technologies</p>		
</div>

</div>
</div>
{% endblock %}