{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
 .type-black{color:black;}
 .bg-blue{background-color:#00aaff;}
 .purple-text{color: purple}
</style>
<div class="container-fluid ">
	<div class="jumbotron text-center jumbotron bg-blue">
		<h1>Guntur IT 😎</h1>
		<br>
		<h3>Events for 2020 🎁</h3><br>
		<p>Get ready to Participiate...✌ </p>
	</div>
	<div class="text-center">
		<h4 class="purple-text"><p>Special Discount offer for .NET</p></h4><br>
		<b><p>may 3,2020@7:am-may 22,2020 @8:pm</p></b><br>
		<p>Siddaratha Institute,Inner Ring Road</p>
		<p>Vijayawada.....INDIA</p>

		<br>

		<h4 class="purple-text"><p>Special Discount offer for JAVA</p></h4><br>
		<b><p>may 5,2020@7:am-may 29,2020 @8:pm</p></b><br>
		<p>Guntur Institute,Yanamadala</p>
		<p>Guntur.....INDIA</p>

		<br>
		<h4 class="purple-text"><p>Special Discount offer for PYTHON</p></h4><br>
		<b><p>may 10 ,2020@7:am-june 2,2020 @8:pm</p></b><br>
		<p>Aeronotical Institute,Kompally</p>
		<p>Hyderbad.....INDIA</p>

		<br>
		<h4 class="purple-text"><p>Special Discount offer for ORACLE</p></h4><br>
		<b><p>may 20,2020@7:am-june 15,2020 @8:pm</p></b><br>
		<p>Bharath Institute,Yeswanthpur</p>
		<p>Banglore....INDIA</p>

		<br>
		<h4 class="purple-text"><p>Special Discount offer for SALESFORCE</p></h4><br>
		<b><p>june 2,2020@7:am-june 22,2020 @8:pm</p></b><br>
		<p>Phani Institute,Chikmagalur</p>
		<p>Karnataka.....INDIA</p>	
	</div>
	

	
</div>

{% endblock %}