{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
 .type-black{color:black;}
 .bg-blue{background-color:#00aaff;}
 .purple-text{color: purple}
</style>
<div class="container-fluid ">
	<div class="jumbotron text-center jumbotron bg-blue">

	<h4>Guntur IT</h4>
	    <h2>.....Success.....</h2>
		<p>life without education is like a Tree without roots</p>
</div>
    

<div class="col-sm-6 text-center panel panel-body panel-info">
	<h3>Be a developer of more than just code....</h3>
	<p>Every Organization Should Manage its Own Credentials To Be Successful in The World of Competition, This is Where Bharath IT Keeps its Concentration While Providing The Services To its Resources. This Dedication And Concentration in Giving The Quality of Services Makes Bharath i Technologies Get Identified Globally in A Short Span of Time. The Bharath Team is Always Engaged in Designing And Re-Designing The Software Courses As Demanded By The Competitive Markets, This Dedication Has Made Us Get Identified As Global Market Leaders in Software Training For All Breeds of Students. Our Syllabus is Dynamic And is Ever Redefined As To The Dynamic Changes That Are Very Common in The International Markets of The Software Industry.</p>

    <p> We Can Proudly Announce That We Are Many Times The Mentors of The Training Market, Where The Trends Are Followed Even By Our Competitors, Our Main Mentor Mr. D.V.SIVABHARATH is The Brain Behind Introduction of Many Software Courses in This Market. Our Syllabus And Course Structure is Followed As A Clone of Implementation Many Times in The Training Markets, We Have A Separate Division That Dedicates Always To Cater To The Changes in The Course Syllabus And Structure From Time To Time.</p>

    <p>It May Look Exaggeration But The Fact of Truth Cannot Be Hidden, We Are The First Choice To Many of The Students And Corporate Professionals in Software Training. Bharath i Technologies Has Made A Remarkable Identification And Has Become A Component of First Choice in Software Training As We Are Dedicated To Provide World Class Training Standards With State of The Art Infrastructure. Our Team Delivers Training With Standards Which is Recognized By The Top Line of Professionals in The Industry.</p>

    <p>We Feel Very Privileged As We Are The First Choice in Software Training Division By The Academic And Corporate Community in Equal Standards. We Stand on The Graph of The World And Made Our Self Recognized As A Landmark in Training Division With Dedicated Services That Have Been Provided With A Difference of Quality And Reliability. These Ten Years of Journey Had Many Laurels To Speak From Various Divisions of Implementation, With Association of Changing Trends And Strategies in The Software Development Process.</p>
   
</div>	
{% endblock %}     